<div class="flex justify-center items-center h-screen">
  <div class="flex flex-col gap-4 items-center justify-center">
    <h1 class="text-2xl">Hello!</h1>
    <p>This is your product page</p>
  </div>
</div>
